dataset/
*.csv
*.parquet
*.json
*.orc
*.avro
*.log

__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
ENV/
.env

.vscode/
.idea/
*.swp
*.swo

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store